# Lab 1 – Python Fundamentals Review
Learning Objectives

By the end of this lab, you should be able to:

- Work confidently with Python data types and structures

- Use control flow to write basic programs

- Write reusable functions and simple classes

- Manipulate lists, dictionaries, and matrices

- Apply Python fundamentals in preparation for PyTorch

## Variables and Basic Data Types

In [3]:
# Integer
x = 10

# Float
y = 3.14

# String
name = "AIG 230"

# Boolean
is_fun = True

print(x, y, name, is_fun)

10 3.14 AIG 230 True

## Lists

In [4]:
numbers = [1, 2, 3, 4, 5]
words = ["nlp", "python", "pytorch"]

print(numbers)
print(words)

[1, 2, 3, 4, 5]
['nlp', 'python', 'pytorch']

### Common List Operations

In [5]:
numbers.append(6)
numbers.remove(3)

print(numbers)
print(numbers[0])      # first element
print(numbers[-1])     # last element

[1, 2, 4, 5, 6]
1
6

### Looping Through a List

In [6]:
for word in words:
    print(word.upper())

NLP
PYTHON
PYTORCH

In [37]:
# TODO
"""Create a list of 5 numbers and print their squares."""
numbers = [26, 12, 88, 25, 92]
squares = []
for n in numbers:
  square = n * n
  squares.append(square)

print(squares)

[676, 144, 7744, 625, 8464]

## Dictionaries

In [7]:
# Dictionaries store key–value pairs
student = {
    "name": "Jessica",
    "course": "AIG 230",
    "year": 2026
}

print(student)
print(student["course"])

{'name': 'Jessica', 'course': 'AIG 230', 'year': 2026}
AIG 230

### Modifying Dictionaries

In [8]:
student["grade"] = "A"
student["year"] = 2027

print(student)

{'name': 'Jessica', 'course': 'AIG 230', 'year': 2027, 'grade': 'A'}

### Looping Through a Dictionary

In [9]:
for key, value in student.items():
    print(key, ":", value)

name : Jessica
course : AIG 230
year : 2027
grade : A

In [11]:
# TODO
""" Create a dictionary describing the courses you are taking this semester
(keys: course_name, code, time, grade)."""

course_info = {
    "course_name": "Natural Language Processing",
    "code": "AIG 230",
    "time": "Monday 08:00AM",
    "grade": "TBD"
}

print(course_info)

{'course_name': 'Natural Language Processing', 'code': 'AIG 230', 'time': 'Monday 08:00AM', 'grade': 'TBD'}

# Matrices and Nested Lists

In [12]:
# In Python, matrices are often represented as lists of lists.
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

print(matrix)
print(matrix[0])
print(matrix[1][2])  # row 2, column 3

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[1, 2, 3]
6

### Looping Through a Matrix

In [13]:
for row in matrix:
    for value in row:
        print(value, end=" ")
    print()

1 2 3
4 5 6
7 8 9

In [14]:
# TODO
""" Create a 2×3 matrix and print all values."""

matrix = [
    [5, 6, 2],  # Row 1
    [2, 8, 9]   # Row 2
]

print(matrix)

[[5, 6, 2], [2, 8, 9]]

# Basic Operations

In [15]:
a = 10
b = 3

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a ** b)  # exponentiation

13
7
30
3.3333333333333335
1000

### Operations on Lists

In [16]:
nums = [1, 2, 3]
nums_times_two = [n * 2 for n in nums]

print(nums_times_two)

[2, 4, 6]

# Conditional Statements (if / elif / else)

In [17]:
score = 85

if score >= 90:
    grade = "A"
elif score >= 80:
    grade = "B"
else:
    grade = "C"

print("Grade:", grade)

Grade: B

# For Loops

In [18]:
for i in range(5):
    print("Iteration:", i)

Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 3
Iteration: 4

### Loop with Condition

In [19]:
for num in range(10):
    if num % 2 == 0:
        print(num, "is even")

0 is even
2 is even
4 is even
6 is even
8 is even

# Functions

In [20]:
# Functions help you reuse code.

def greet(name):
    return f"Hello, {name}!"

print(greet("AIG 230"))

Hello, AIG 230!

In [21]:
# Function with Multiple Arguments

def add(a, b):
    return a + b

result = add(3, 5)
print(result)

8

In [23]:
# TODO
""" Write a function that returns the square of a number"""

def sqaure_number(x):
  return x*x

result = sqaure_number(25)
print(result)

625

# Classes and Objects

In [24]:
# Classes allow you to model real-world objects.
class Student:
    def __init__(self, name, course):
        self.name = name
        self.course = course

    def introduce(self):
        return f"My name is {self.name} and I am enrolled in {self.course}"

In [25]:
student1 = Student("Jessica", "AIG 230")
print(student1.introduce())

My name is Jessica and I am enrolled in AIG 230

# Putting It All Together

In [35]:
# TODO
""" Create a class called courses_winter 2026
with attributes course_name, code, time, grade and a method to display course info."""

class Courses_Winter_2026:
    def __init__(self, course_name, code, time, grade):
      self.name = "Roshan"
      self.course_name = course_name
      self.code = code
      self.time = time
      self.grade = grade

    def introduce(self):
        return f"My name is {self.name} and I am enrolled in {self.code} - {self.course_name} that takes place every {self.time}. The grade of course are still {self.grade}"

my_course = Courses_Winter_2026("Natural Language Processing", "AIG 230", "Monday 08:00AM", "TBD")

print(my_course.introduce())

My name is Roshan and I am enrolled in AIG 230 - Natural Language Processing that takes place every Monday 08:00AM. The grade of course are still TBD

In [36]:
# TODO
""" Create three instances of the courses_winter 2026 class and display their info."""

class Courses_Winter_2026:
    def __init__(self, course_name, code, time, grade):
        self.name = "Roshan"
        self.course_name = course_name
        self.code = code
        self.time = time
        self.grade = grade

    def display_info(self):
        print(f"Student: {self.name}")
        print(f"Course:  {self.course_name} ({self.code})")
        print(f"Time:    {self.time}")
        print(f"Grade:   {self.grade}")
        print("-" * 30)

course1 = Courses_Winter_2026("Natural Language Processing", "AIG 230", "Monday 08:00AM", "TBD")
course2 = Courses_Winter_2026("Deep Learning", "AIG 240", "Wednesday 10:00AM", "TBD")
course3 = Courses_Winter_2026("Computer Vision", "AIG 250", "Friday 01:00PM", "TBD")

course1.display_info()
course2.display_info()
course3.display_info()

Student: Roshan
Course:  Natural Language Processing (AIG 230)
Time:    Monday 08:00AM
Grade:   TBD
------------------------------
Student: Roshan
Course:  Deep Learning (AIG 240)
Time:    Wednesday 10:00AM
Grade:   TBD
------------------------------
Student: Roshan
Course:  Computer Vision (AIG 250)
Time:    Friday 01:00PM
Grade:   TBD
------------------------------